body{
  background-color: #f7f7f7;
  font-family: sans-serif;
}

#chart{
  margin: 25px auto;
  width: 800px;
}

.bar-labels{
  text-anchor: middle;
}

select {
  margin: 25px auto 0;
  display: block;
  font-size: 16px;
  padding: 5px 10px;
}

.mean-line {
  stroke: #d62828;
  stroke-dasharray: 6;
  stroke-width: 2px;
}